{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_vsat">Add VSAT</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>T ID</th>
      <th>Name</th>
      <th>BH VLAN</th>
      <th>BH Name</th>
      <th>BH SRC</th>
      <th>BH SRC IP</th>
      <th>Route</th>
      <th>Mask</th>
      <th>Gateway</th>
      <th></th>
      <th></th>
    </tr>
    {% for vsat in vsats %}
      <tr>
        <td><a href="vsat/{{vsat.t_id}}">{{vsat.t_id}}</a></td>
        <td>{{vsat.t_name}}</td>
        <td>{{vsat.bh_vlan}}</td>
        <td>{{vsat.bh_name}}</td>
        <td>{{vsat.bh_src}}</td>
        <td>{{vsat.bh_src_ip}}</td>
        <td>{{vsat.t_rt_ip}}</td>
        <td>{{vsat.t_rt_msk}}</td>
        <td>{{vsat.t_rt_gw}}</td>
        <td><a href="edit_vsat/{{vsat.t_id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
        <script>
        function ConfirmDelete()
        {
          var x = confirm("Are you sure you want to delete?");
          if (x)
              return true;
          else
            return false;
        }
        </script>
          <form action="{{url_for('delete_vsat', id=vsat.t_id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger" Onclick="return ConfirmDelete()">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
