{% extends 'layout.html' %}

{% block body %}
  <h1>Manage <small>{{ count['COUNT(*)'] }}</small></h1>
  <a class="btn btn-default" href="/status">All</a>
  <a class="btn btn-default" href="/status/in">In service</a>
  <a class="btn btn-default" href="/status/out">Out service</a>
  <form action="{{url_for('mstart')}}" method="post" name="StartSelected">
    <input type="hidden" name="_method" value="Start">
    <input type="submit" value="Stop Selected" class="btn btn-danger pull-right" name="StartSelected">
    <input type="submit" value="Start Selected" class="btn btn-success pull-right" name="StartSelected">
  </form>
  <hr>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <table class="table table-striped">
<thead>
    <tr>
      <th><input type="checkbox" name="all" onClick="toggle(this)" /></th>
      <th>ID</th>
      <th>Name</th>
      <th>BH VLAN</th>
      <th>BH Name</th>
      <th>Route</th>
      <th>Service</th>
      <th></th>
      <th></th>
    </tr>
</thead>
<tbody id="myTable">
    {% for vsat in vsats %}
      <tr>
        <td>
            <input type="checkbox" name="check" value={{vsat.bh_name}}>
      </td>
        <td><a href="vsat/{{vsat.t_id}}">{{vsat.t_id}}</a></td>
        <td>{{vsat.t_name}}</td>
        <td>{{vsat.bh_vlan}}</td>
        <td>{{vsat.bh_name}}</td>
        <td>{{vsat.is_route}}</td>
        {% if vsat.is_service=='YES' %}
          <td><font color="green">{{vsat.is_service}}</font></td>
          <td>
            <form action="{{url_for('stop', id=vsat.t_id)}}" method="post">
              <input type="hidden" name="_method" value="Stop">
              <input type="submit" value="Stop" class="btn btn-danger">
            </form>
          </td>
        {% else %}
          <td><font color="red">{{vsat.is_service}}</font></td>
          <td>
            <form action="{{url_for('start', id=vsat.t_id)}}" method="post">
              <input type="hidden" name="_method" value="Start">
              <input type="submit" value="Start" class="btn btn-success">
            </form>
          </td>
        {% endif %}
        <td></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
</form>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script>
function toggle(source) {
  checkboxes = document.getElementsByName('check');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
<script>
$("input[name='check']"), submitButt = $("input[name='StartSelected']");
var checkboxes = $("input[name='check']"),
  submitButtList = $("#StartSelected");
checkboxes.click(function() {
  submitButt.attr("disabled", !checkboxes.is(":checked"));
  if (!checkboxes.is(":checked")) {
    submitButtList.addClass("disabled");
  } else {
    submitButtList.removeClass("disabled");
  }
});
</script>
{% endblock %}
